/********** CSS Reset **********/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}


/********** Header **********/

header {
  background-color: cadetblue;
  color: #fff;
  padding: 1rem;
}

.brend {
  display: inline-block;
}

.breeds {
  float: right;
}


/********** Section **********/

section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: none;
  text-align: center;
  font-size: 3rem;
  animation: rotate 1.5s infinite linear;
}

.dog-img {
  display: none;
}

.show {
  display: block;
}

@keyframes rotate {
  to { 
    transform: rotateZ(360deg);
  }
}